body {
    font-family: Arial, Helvetica, sans-serif ;
    margin: 0px;
    font-size: 1.5vw;
}

#logo {
    margin: 10px 100px;
    padding: 8px;
}

ul {
    margin: 0px;
}
body > header {
    background-color: aqua;
    color: white;
}

body > header {
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-between;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

#nav-ul {
    display: flex;
}

#nav-ul {
    padding: 8px;
    margin: 16px;
}
.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
}

body > main > article {
    width: 70%;
    margin: auto;
}
body > footer {
    background-color: yellow;

}

img {
    border-radius: 10%;
}